body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbutton {
color: green;
text-decoration: none;
padding: 12px;
border: 1px solid green;
border-radius: 10%;
}
header {
    background-color:;
    color: black;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmyUYwGd7u311zmUpDv6Yc4JlOHQ6EAfixnA&s);
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}
nav a {
    color: white;
    border: 3px solid green;
    border-radius: 10%;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2rem;
}
main {
    padding: 20px;
}


article {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

article h2 {
    margin-top: 0;
}

#main-header  {
    background-color: grey;
}

#logo {
    padding: 15px;
}

.wrapper > fiv


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 0;
}
#footer-ul {
    display: flex;
    list-style: none;
}

    

#footer-ul > div > li {
    margin-left: 12px;
}

#footer-ul > div > li > a{
    text-decoration: none;
    color: red;